<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>Account Name</label>
            <input type="text" class="form-control" #accountName />
        </div>
        <div class="form-group">
            <select class="form-control" #status>
                <option value="active">active</option>
                <option value="inactive">inactive</option>
                <option value="hidden">hidden</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" (click)="onCreateAccount(accountName.value, status.value)">Add Account</button>
    </div>
</div>